DEPLOYMENT_DOMAIN=
DEPLOYMENT_POSTGRES_USER=
DEPLOYMENT_POSTGRES_PASSWORD=
DEPLOYMENT_POSTGRES_DB=
DEPLOYMENT_BETTER_AUTH_SECRET=
DEPLOYMENT_SENDGRID_API_KEY=
DEPLOYMENT_SENDGRID_FROM_EMAIL=
DEPLOYMENT_SENDGRID_FROM_NAME=
DEPLOYMENT_SENDGRID_MAGIC_LINK_TEMPLATE_ID=
DEPLOYMENT_SEED_PASSWORD=

APP_SHORT_NAME=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
BASE_URL=

DATABASE_URL=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
SENDGRID_FROM_NAME=
SENDGRID_MAGIC_LINK_TEMPLATE_ID=

NEXT_PUBLIC_LSVAR_APP_STATE=
NEXT_PUBLIC_LSVAR_USER=
NEXT_PUBLIC_LSVAR_ACCESS_TOKEN=
NEXT_ACCESS_TOKEN_COOKIE=
NEXT_PUBLIC_LSVAR_CACHE=
NEXT_PUBLIC_IDB_STORE=
NEXT_PUBLIC_IDB_TABLE=
